.icon-close {
    color: white;
    font-family: 'Press Start 2P', sans-serif;
    text-decoration: none; 
    font-size: 35px;
 
    transition: scale 100ms linear;
}

.icon-close:hover {
    scale: 1.4;
}